%br
.row
  .col-xs-12
    = link_to 'Upload CSV', new_upload_path, class: 'btn btn-outline-primary'
%br

%table.table.skus
  %thead
    %tr
      %th= Sku.human_attribute_name(:id)
      %th= Supplier.model_name.human
      %th= Sku.human_attribute_name(:field_1)
      %th= Sku.human_attribute_name(:field_2)
      %th= Sku.human_attribute_name(:field_3)
      %th= Sku.human_attribute_name(:field_4)
      %th= Sku.human_attribute_name(:field_5)
      %th= Sku.human_attribute_name(:field_6)
      %th= Sku.human_attribute_name(:price)
  %tbody
    - @skus.each do |sku|
      %tr{id: dom_id(sku)}
        %td.id= sku.id
        %td.supplier= sku.supplier.name
        %td.field_1= sku.field_1
        %td.field_2= sku.field_2
        %td.field_3= sku.field_3
        %td.field_4= sku.field_4
        %td.field_5= sku.field_5
        %td.field_6= sku.field_6
        %td.price= number_to_currency(sku.price)

= will_paginate @skus, inner_window: 2, outer_window: 0, renderer: 'Pagination::BootstrapRenderer', previous_label: '&larr;'.html_safe, next_label: '&rarr;'.html_safe
