%br
.row
  .col-xs-12
    = link_to 'Upload CSV', new_upload_path, class: 'btn btn-outline-primary'
%br

%table.table.uploads
  %thead
    %tr
      %th= Upload.human_attribute_name(:id)
      %th= Upload.human_attribute_name(:status)
      %th= Upload.human_attribute_name(:csv_file_name)
  %tbody
    - @uploads.each do |upload|
      %tr{id: dom_id(upload)}
        %td.id= upload.id
        %td.status
          = t(upload.status, scope: 'upload_status', processed_rows_count: upload.processed_rows_count, rows_count: upload.rows_count)
          - if upload.invalid_rows_count.positive?
            = t('unprocessed_rows_count', count: upload.invalid_rows_count)
        %td.csv-file-name= upload.csv_file_file_name

= will_paginate @uploads, inner_window: 2, outer_window: 0, renderer: 'Pagination::BootstrapRenderer', previous_label: '&larr;'.html_safe, next_label: '&rarr;'.html_safe
