- if @upload.errors.any?
  = render 'layouts/error_messages', object: @upload

= form_for @upload, html: { multipart: true } do |f|
  .form-group
    = f.label :csv_file, 'CSV File'
    = f.file_field :csv_file, class: 'form-control-file'
    %small.form-text.text-muted Only skus.csv and suppliers.csv are allowed
  = f.submit 'Submit', class: 'btn btn-primary'

