.error_explanation.alert.alert-danger{class: "#{dom_class(object)}_errors"}
  %h5
    = "#{pluralize(object.errors.count, "error")} prohibited this #{object.class.model_name.human} from being saved:"
  %ul
    - object.errors.full_messages.each do |msg|
      %li= msg
