%nav.navbar.navbar-expand-md.navbar-light.bg-faded
  %ul.navbar-nav
    %li.nav-item{ class: controller.kind_of?(SkusController) ? 'active' : ''}
      = link_to 'Skus', skus_path, class: 'nav-link'
    %li.nav-item{ class: controller.kind_of?(UploadsController) ? 'active' : '' }
      = link_to 'Uploads', uploads_path, class: 'nav-link'
