!!!
%html
  %head
    %title CsvDemo
    = csrf_meta_tags
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
  %body
    .container-fluid
      = render 'layouts/navigation'
      = render 'layouts/flash_messages'
      = yield
